






.imgMovil{

height: 220px;
object-fit: scale-down;

}




.btn{


margin-top: 5px;
margin-bottom: 5px;
}











/*ESTILO PARA TITULOS*/

.textTitle{

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;

}



.card-title{

  font-family: Arial, Helvetica, sans-serif;
 
}





/*ESTILO PARA CUERPO DE TEXTO*/

.card-body{

  height: 220px;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.7;

  }


  .textBody{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: white;
    
  }



  





/*DATOS DEL USUARIO QUE SACÓ LA FOTO*/

  .userImg{
   
    height: 75px;
    width: 70px;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit:cover;
  
  }
  
  .userName{
  
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 30px;
  
  }
  
  
  .linkUser{
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
   
    
  }


  
  .linkPhone{
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
  
    
  }











/*PORTADA*/

#cabecera{

  
  overflow: hidden;
  
}


.carousel{

  width: 100%;
  height: 70%;
  overflow: hidden;
  
  }


.title{

  height: 30%;

}




/*AJUSTA LA ALTURA DEL CAROUSEL DEPENDIENDO DEL ANCHO DE LA PANTALLA*/

@media screen and (min-width: 360px)  {
 

  .imageCarousel{
  
    height: 280px;
   
    
    }


  }



@media screen and (min-width: 400px)  {
 

.imageCarousel{

  height: 300px;
 
  
  }


}



@media screen and (min-width: 500px)  {
 

  .imageCarousel{
  
    height: 350px;
  
    
    }
  
  
  }



  @media screen and (min-width: 800px)  {
 

    .imageCarousel{
    
      height: 400px;
    
      
      }
    
    
    }


    @media screen and (min-width: 900px)  {
 

      .imageCarousel{
      
        height: 450px;
        
        
        }
      
      
      }
















      /*ESTO ES PARA QUE LAS IMAGENES SE VEAN MEJOR
      EN EL MOVIL APAISADO*/

      @media screen and (min-height: 340px)  {
 
   
        .image2 {

          display: block;
          width: 100%;
          height: 290px;
          object-fit: cover;
  
        }
        
        }


        @media screen and (min-height: 500px)  {
 

   
          .image2 {
  
  
            display: block;
            width: 100%;
            height: 500px;
            object-fit: cover;
    
    
          }
          
          
          }
  













nav{


height: 75px;
border-top: solid;
border-bottom: solid;
margin-top: 30px;


}


.navOption{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;

}








footer{

background-color: black;
position: relative;
bottom: 0; 


}









.icono{


    height: 50px;
    width: 50px;
   

}


.iconoPortada{


    height: 40px;
    width: 40px;

}




.galeria{

    margin-top: 25px;
    min-height: 100vh;
  }





.itemGalery{

margin-bottom: 25px;

}



.itemGaleryMovil{

  margin-top: 25px;
  
  }


.body-film {
    min-height: 100%;
    overflow-y: scroll;
}



.page-footer{

margin-top: 10px;
padding: 20px;

}







/*Animacion del logo*/
@keyframes animation5{ 
    0%{  transform: rotate(0deg); } 
    100%{  transform: rotate(360deg);   } 
}

  .iconoRotation:hover{ 
         animation: animation5 1s infinite; 
     } 



     /*Efecto hover de fotos*/
     .container2 {
        position: relative;
        width: 100%;
      }
      



      .overlay {

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #1f2021;
        
      }
      


      .container2:hover .overlay {
        opacity: 90%;
      }
      

      

      







  
    

      .ec-stars-wrapper {
        /* Espacio entre los inline-block (los hijos, los `a`) */
        font-size: 0;
        /* Podríamos quitarlo, 
          pero de esta manera (siempre que no le demos padding), 
          sólo aplicará la regla .ec-stars-wrapper:hover a cuando
          también se esté haciendo hover a alguna estrella */
        display: inline-block;
      }
      .ec-stars-wrapper a {
        text-decoration: none;
        display: inline-block;
        /* Volver a dar tamaño al texto */
        font-size: 32px;
        font-size: 2rem;
        
        color: #888;
      }
      
      .ec-stars-wrapper:hover a {
        color: rgb(39, 130, 228);
      }
      /*
       * El selector de hijo, es necesario para aumentar la especifidad
       */
      .ec-stars-wrapper > a:hover ~ a {
        color: #888;
      }







 